*{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;;
    
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #bfcdd0;
    position: relative;
    margin-top: 20px;
}
.tittle{
    margin-bottom: 70px;
}
.fill_number{
    margin-bottom: 20px;
}
.field__fill-number{
    margin-bottom: 20px; 
}
.btn{
    margin-bottom: 70px;
}
.lost{
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    font-size: 100px;
    line-height: 100%;
}
.text{
    border: solid blue 1px;
    text-align: center;
}